@import 'main/bootstrap-reboot.min';
@import 'main/font';

.container {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1170px;
    padding-right: 10px;
    padding-left: 10px;
}

@import 'main/mixins';
@import 'main/variables';

@import 'blocks/promo';
@import 'blocks/nav';
@import 'blocks/btn';

@import 'main/media';



