@import 'main/bootstrap-reboot.min';
@import 'main/animate.min.scss';
@import 'main/font';

.container {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1170px;
    padding-right: 10px;
    padding-left: 10px;
}

@import 'main/mixins';
@import 'main/variables';

@import 'blocks/promo';
@import 'blocks/nav';
@import 'blocks/btn';
@import 'blocks/tittle';
@import 'blocks/circles';
@import 'blocks/about-me';
@import 'blocks/services';
@import 'blocks/skills';
@import 'blocks/works';
@import 'blocks/feedback';
@import 'blocks/contact';
@import 'blocks/news';
@import 'blocks/logo';
@import 'blocks/_footer';

@import 'main/media';



