.about-me {
    background-color: white;
    min-height: 640px;
    padding-top: 177px;
    padding-bottom: 150px;
    &__text {
        font-family: 'PTSans';
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.87;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        margin-top: 49px;
    }
    &__circles {
        position: relative;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}