.services {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 1133px;
    background-color: #f5f6fb;
    &__wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 370px;
        height: 338px;
        background-color: #ffffff;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 60px 40px;
    }
    &__logo {
        margin-bottom: 40px;
    }
    &__title {
        font-family: 'Roboto Slab';
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.5;
        letter-spacing: normal;
        text-align: left;
        color: #323232;
    }
    &__subtext {
        font-family: 'PTSans';
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.87;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
    }
}