.skills {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 671px;
    background-color: #00b894;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        justify-content: space-between;
    }
    .skill {
        margin-top: 40px;
        &__title {
            font-family: 'Roboto Slab';
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 3.13;
            letter-spacing: normal;
            text-align: right;
            color: #ffffff;
        }
        &__line {
            width: 500px;
            position: relative;
            span {
                display: block;
            }
            &-all {
                width: 100%;
                height: 5px;
                opacity: 0.3;
                background-color: #ffffff;
            }
            &-now {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 5px;
                background-color: #ffffff;
                z-index: 999;
                &::after {
                    position: absolute;
                    right: 0;
                    top: -100%;
                    content: '';
                    width: 15px;
                    height: 15px;
                    background-color: #ffffff;
                    border-radius: 100%;
                }
                &::before {
                    position: absolute;
                    right: -10px;
                    top: -60px;
                    content: '';
                    font-family: 'Roboto Slab';
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 3.13;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
                &_92 {
                    width: 92%;
                    &::before {
                        content: '92%';
                    }
                }
                &_85 {
                    width: 85%;
                    &::before {
                        content: '85%';
                    }
                }
                &_97 {
                    width: 97%;
                    &::before {
                        content: '97%';
                    }
                }
                &_90 {
                    width: 90%;
                    &::before {
                        content: '90%';
                    }
                }
                &_72 {
                    width: 72%;
                    &::before {
                        content: '72%';
                    }
                }
            }

        }
    }
}