@media (max-width: 1024px) {
    .circles {
        width: 295px;
    }
    .circle {
        width: 148px;
        height: 148px;
        &__text {
            left: 17%;
        }
        &__pink {
            bottom: 100px;
        }
    }
    .services__wrapper {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .services__item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .about-me__circles {
        display: none;
    }
    .skills .skill__line {
        width: 300px;
    }
    
}

@media (max-width: 425px) {
    .nav__btns {
        display: none;
    }
    .promo__tittle {
        line-height: 1.46;
    }
    .btn_mtl {
        margin-top: 20px;
        margin-left: 0;
    }
    .tittle__text {
        font-size: 22px;
    }
    .circle {
        width: 150px;
        height: 150px;
        &__text {
            left: 17%;
        }
    }
    .circles {
        height: 250px;
        width: 300px;
    }
    .feedback__item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .feedback__name {
        font-size: 16px;
        span {
            font-size: 14px;
        }
    }

}

@media (max-width: 375px ) {
    .tittle__text {
        font-size: 16px;
        &::before {
            display: none;
        }
    }
    .feedback__item {
        width: 300px;
    }
    .feedback__avatar {
        display: none;
    }
    .feedback__text {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .work__item {
        width: 280px;
        height: 260px;
    }
    .work__opacity {
        width: 280px;
        height: 260px;
    }
}