@media (max-width: 425px) {
    .nav__btns {
        display: none;
    }
    .promo__tittle {
        line-height: 1.46;
    }
    .btn_mtl {
        margin-top: 20px;
        margin-left: 0;
    }
}